* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(35deg, rgb(50, 63, 111), rgb(81, 95, 146));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}